*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
buildSrc/build/
app/google-services.json
build/
/.idea/.name
/database-debug.log
/firestore-debug.log
/ui-debug.log
/.firebaserc
/app/build/
/buildSrc/build/
*.jks
*.pem
